<!DOCTYPE html> 
<html> 
<head>
    <title>ParkinGo</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="./static/js/main.js"></script>
</head>
<body> 
<div align="center">
    <div>
        <h1>ParkinGo</h1>
    </div>
    <div>
        <!-- <video width="800" autoplay muted>
            <source src="./static/media/sample.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video> -->
        
        <div id="coverContainer">
            <div id="cover">
                <div id="player"/>
            </div>
        </div>
        
        <script>
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            var synced = false;
            var requestSet = false;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                height: '400',
                width: '700',
                videoId: 'qwWaQi-Roc4',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                },
                playerVars: {
                    'controls': 0,
                    'rel': 0,
                    'fs': 0,
                    'disablekb': 1,
                    'modestbranding': true,
                }
                });
            }

            function onPlayerReady(event) {
                sendRequest()
                event.target.playVideo();
                loadTable();
            }

            function handleResponse(event) {
                if (event.target.response === "")
                    return;

                response = JSON.parse(event.target.response)

                if (!requestSet) {
                    requestSet = true;
                    setTimeout(sendRequest, response.next_prediction * 1000);
                }
                if (!synced) {
                    synced = true;
                    player.seekTo(response.elapsed, true);
                }
                setTable(response.spots)
            }

            function sendRequest() {
                requestSet = false;
                const Http = new XMLHttpRequest();
                const url = 'http://localhost:5000/status';
                Http.open("GET", url)
                Http.send();

                Http.onreadystatechange = handleResponse;
            }

            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PAUSED) {
                    player.playVideo();
                }
            }

            function setTable(spotsJson) {
                const spinner = document.getElementById("spinner");
                spinner.removeAttribute('hidden');
                
                const parkDiv = document.getElementById('parking-table');
                spinner.setAttribute('hidden', '');

                parkDiv.style.display = 'flex';

                // get nr. of frames from db 
                nrFrames = spotsJson.length;
                
                // extract data into matrix of spots
                posTable = [];
                spotsJson[nrFrames - 1]["spots"].forEach(function(spot) {
                    pos = spot['position'];
                    x = pos[0];
                    y = pos[1];
                    if (posTable[x] == undefined) {
                        posTable[x] = [];
                    }
                    posTable[x][y] = spot['occupied'];
                })

                tableContent = '';
                posTable.forEach(function(row) {
                    tableContent += '<tr>';
                    row.forEach(function(spot) {
                        if (!spot) {
                            tableContent += '<td><div class="empty-spot"></div></td>';
                        }
                        else {
                            tableContent += '<td><div class="occupied-spot"></div></td>';
                        }
                    })
                    tableContent += '</tr>';
                })
                document.getElementById('spots-table').innerHTML = tableContent;
            }
        </script>
    </div>

    <div hidden id="spinner"></div>

    <div id="parking-table">
		<table id="spots-table"></table>
	</div>
</body> 
</html>