<!DOCTYPE html> 
<html> 
<head>
    <title>ParkinGo</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="./static/js/main.js"></script>
</head>
<body> 
<div align="center">
    <div>
        <h1>ParkinGo</h1>
    </div>
    <div>
        <!-- <video width="800" autoplay muted>
            <source src="./static/media/sample.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video> -->
        
        <div id="player"></div>

        <script>
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                height: '400',
                width: '700',
                videoId: 'W4bbp3PDKAc',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                },
                playerVars: {
                    'controls': 0,
                    'rel': 0,
                    'fs': 0,
                    'disablekb': 1,
                    'modestbranding': true,
                }
                });
            }

            function onPlayerReady(event) {
                event.target.playVideo();
                loadTable();
            }

            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PAUSED) {
                    player.playVideo();
                }
            }
        </script>
    </div>

    {# <form>
        <div>
            <label>Select file to upload</label>
            <input type="file" >
            <button type='button' onclick="uploadFrame()">Submit</button>
        </div>
    </form> #}
    <div hidden id="spinner"></div>

    <div id="parking-table">
		<table id="spots-table"></table>
	</div>
</div>
</body> 
</html>